@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h1>Naber</h1>

@section Css{

    <link rel="stylesheet" href="~/css/StyleSheet.css" asp-append-version="true" />

    <style>
        h1 {
            color: blue;
            background-color: antiquewhite;
        }
    </style>
}

<h1>Css Kod Denemesi</h1>

<h2>Dosyadan Css Kodları Denemesi</h2>