@{

    ViewData["Title"] = "Index";
    Layout = "LayoutDeneme";

}

<br />

<div>Burası deneme Layout Sayfasıdır. </div>


@section header{

    bu yazı headerın altına yazılacaktır.
}


<br />
@section footer{
    bu yazı footerın altına yazılacaktır.
}

