
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>layoutyok</title>
</head>
<body>

    Layoutsuz index ekranı

</body>
</html>
